src/services/abrevioWebservice/abrevioWebservice.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyService" targetNamespace="http://tempuri.org/">
    <types>
        <xsd:schema targetNamespace="http://tempuri.org/">
            <xsd:element name="covertHL7V2TOV3">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="hl7v2" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="covertHL7V2TOV3Response">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="covertHL7V2TOV3Result" type="xsd:string"/>
                        <xsd:element name="version" type="xsd:string"/>
                        <xsd:element name="hl7v3" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- New elements for consolidateVersion -->
            <xsd:element name="consolidateVersion">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="consolidateVersionResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="consolidateVersionResult" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- New elements for ICDConverterVersion -->
            <xsd:element name="ICDConverterVersion">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ICDConverterVersionResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ICDConverterVersionResult" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- New elements for HL7V2DeIdentifyProcessor -->
            <xsd:element name="HL7V2DeIdentifyProcessor">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="HL7V2" type="xsd:string"/>
                        <xsd:element name="encryptkey" type="xsd:string"/>
                        <xsd:element name="encryptkeysize" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="HL7V2DeIdentifyProcessorResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="HL7V2DeIdentifyProcessorResult" type="xsd:string"/>
                        <xsd:element name="successful" type="xsd:boolean"/>
                        <xsd:element name="errormessage" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <message name="CSVDeIdentifyProcessorRequest">
        <part name="parameters" element="tns:CSVDeIdentifyProcessor"/>
    </message>
    <message name="CSVDeIdentifyProcessorResponse">
        <part name="parameters" element="tns:CSVDeIdentifyProcessorResponse"/>
    </message>

    <!-- New messages for covertHL7V2TOV3 -->
    <message name="covertHL7V2TOV3Request">
        <part name="parameters" element="tns:covertHL7V2TOV3"/>
    </message>
    <message name="covertHL7V2TOV3Response">
        <part name="parameters" element="tns:covertHL7V2TOV3Response"/>
    </message>

    <!-- New messages for consolidateVersion -->
    <message name="consolidateVersionRequest">
        <part name="parameters" element="tns:consolidateVersion"/>
    </message>
    <message name="consolidateVersionResponse">
        <part name="parameters" element="tns:consolidateVersionResponse"/>
    </message>

    <!-- New messages for ICDConverterVersion -->
    <message name="ICDConverterVersionRequest">
        <part name="parameters" element="tns:ICDConverterVersion"/>
    </message>
    <message name="ICDConverterVersionResponse">
        <part name="parameters" element="tns:ICDConverterVersionResponse"/>
    </message>

    <!-- New messages for HL7V2DeIdentifyProcessor -->
    <message name="HL7V2DeIdentifyProcessorRequest">
        <part name="parameters" element="tns:HL7V2DeIdentifyProcessor"/>
    </message>
    <message name="HL7V2DeIdentifyProcessorResponse">
        <part name="parameters" element="tns:HL7V2DeIdentifyProcessorResponse"/>
    </message>

    <portType name="MyPortType">
        <operation name="CSVDeIdentifyProcessor">
            <input message="tns:CSVDeIdentifyProcessorRequest"/>
            <output message="tns:CSVDeIdentifyProcessorResponse"/>
        </operation>
        <!-- New operation for covertHL7V2TOV3 -->
        <operation name="covertHL7V2TOV3">
            <input message="tns:covertHL7V2TOV3Request"/>
            <output message="tns:covertHL7V2TOV3Response"/>
        </operation>
        <!-- New operation for consolidateVersion -->
        <operation name="consolidateVersion">
            <input message="tns:consolidateVersionRequest"/>
            <output message="tns:consolidateVersionResponse"/>
        </operation>
        <!-- New operation for ICDConverterVersion -->
        <operation name="ICDConverterVersion">
            <input message="tns:ICDConverterVersionRequest"/>
            <output message="tns:ICDConverterVersionResponse"/>
        </operation>
        <!-- New operation for HL7V2DeIdentifyProcessor -->
        <operation name="HL7V2DeIdentifyProcessor">
            <input message="tns:HL7V2DeIdentifyProcessorRequest"/>
            <output message="tns:HL7V2DeIdentifyProcessorResponse"/>
        </operation>
    </portType>

    <binding name="MyBinding" type="tns:MyPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CSVDeIdentifyProcessor">
            <soap:operation soapAction="http://tempuri.org/CSVDeIdentifyProcessor"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <!-- New binding for covertHL7V2TOV3 -->
        <operation name="covertHL7V2TOV3">
            <soap:operation soapAction="http://tempuri.org/covertHL7V2TOV3"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <!-- New binding for consolidateVersion -->
        <operation name="consolidateVersion">
            <soap:operation soapAction="http://tempuri.org/consolidateVersion"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <!-- New binding for ICDConverterVersion -->
        <operation name="ICDConverterVersion">
            <soap:operation soapAction="http://tempuri.org/ICDConverterVersion"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <!-- New binding for HL7V2DeIdentifyProcessor -->
        <operation name="HL7V2DeIdentifyProcessor">
            <soap:operation soapAction="http://tempuri.org/HL7V2DeIdentifyProcessor"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="MyService">
        <port name="MyPort" binding="tns:MyBinding">
            <soap:address location="http://localhost:8080/YourService.asmx"/>
        </port>
    </service>
</definitions>